<h1>Conheça nossa empresa...</h1>

<p>
	A Panificadora talento teve seu marco inicial no ano de 2006 em um pequeno cômodo na cidade de Alterosa, cujo nome era Confeitaria Santo Expedito.Com o decorrer do tempo e o bom desenrolar das atividades houveram mudanças de estruturae maquinário. Visto que seu marco é a qualidade o último serviço inovador implementado foi a Talento Buffet,que oferece serviço em festas e eventos.
</p>